body {
    background-color: #010101;
}

h1 {
    color: #FEF9D4;
}

canvas {
    background-color: beige;
    width: 45%;
    height: 50%;
    min-width: 600px;
    min-height: 400px;
    position: absolute;
    top: 25%;
    right: 5%;
}